---
import { getRelativeLocaleUrl } from 'astro:i18n'

export interface Props
{
	lang?: string | undefined
}

const {
	lang = Astro.currentLocale,
} = Astro.props
---

<ul class="lang-list">
	<li>
		<a
			href={getRelativeLocaleUrl('en', Astro.url.pathname)}
			class:list={[ lang === 'en' && 'active' ]}
		>
			<span class="icon icon-[twemoji--flag-united-kingdom] icon-align"></span>
		</a>
	</li>
	<li>
		<a
			href={getRelativeLocaleUrl('fr', Astro.url.pathname)}
			class:list={[ lang === 'fr' && 'active' ]}
		>
			<span class="icon icon-[twemoji--flag-france] icon-align"></span>
		</a>
	</li>
	<li>
		<a
			href={getRelativeLocaleUrl('de', Astro.url.pathname)}
			class:list={[ lang === 'de' && 'active' ]}
		>
			<span class="icon icon-[twemoji--flag-germany] icon-align"></span>
		</a>
	</li>
	<li>
		<a
			href={getRelativeLocaleUrl('es', Astro.url.pathname)}
			class:list={[ lang === 'es' && 'active' ]}
		>
			<span class="icon icon-[twemoji--flag-spain] icon-align"></span>
		</a>
	</li>
</ul>

<style lang="scss">
@reference "#tailwind.css";

.lang-list {
	@apply flex items-center mb-4 gap-2;

	.icon {
		@apply text-2xl;
	}

	a {
		@apply opacity-50;

		&:hover {
			@apply opacity-75;
		}

		&:active, &.active {
			@apply opacity-100;
		}
	}
}
</style>
