---
import Layout from '~/layouts/Layout.astro'
import LocalesPicker from '~/components/LocalesPicker/LocalesPicker.astro'

import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)

---

<Layout>

	<p>
		<span class="icon icon-[mdi--emoticon-sad] icon-align icon-fw"></span>
		{_('Page not found')}
	</p>

	<LocalesPicker lang={Astro.currentLocale} />

</Layout>

<style lang="scss">
@reference "~/styles/tailwind.css";

:global(body) {
	@apply p-4;
}

p {
	@apply mb-4;

	:global(code) {
		@apply bg-gray-100 px-1 border border-gray-300 rounded;
	}
}

a {
	@apply text-blue-600 hover:text-blue-700 hover:underline;
}
</style>
