---
import { site } from '~/config'
import Layout from '~/layouts/Layout.astro'
import LocaleSwitch from '~/components/LocaleSwitch.astro'
import Login from '~/components/Login.svelte'
import Footer from '~/components/Footer.astro'

import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)
---

<Layout>

	<span class="icon icon-[mdi--hand-wave] icon-align icon-fw"></span>
	{_({
		en: 'Welcome!',
		fr: 'Bienvenue !',
	})}

</Layout>
