---
import Layout from '~/layouts/Layout.astro'

import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)
---

<Layout>

	<p>
		<span class="icon icon-[mdi--hand-wave] icon-align icon-fw"></span>
		{_({
			en: 'Welcome!',
			fr: 'Bienvenue !',
			de: 'Willkommen!',
			es: '¡Bienvenido!',
		})}
	</p>

	<ul class="lang-list">
		<li>
			<a href="/" class:list={[ Astro.currentLocale === 'en' && 'active' ]}>
				<span class="icon icon-[twemoji--flag-united-kingdom] icon-align"></span>
			</a>
		</li>
		<li>
			<a href="/fr" class:list={[ Astro.currentLocale === 'fr' && 'active' ]}>
				<span class="icon icon-[twemoji--flag-france] icon-align"></span>
			</a>
		</li>
		<li>
			<a href="/de" class:list={[ Astro.currentLocale === 'de' && 'active' ]}>
				<span class="icon icon-[twemoji--flag-germany] icon-align"></span>
			</a>
		</li>
		<li>
			<a href="/es" class:list={[ Astro.currentLocale === 'es' && 'active' ]}>
				<span class="icon icon-[twemoji--flag-spain] icon-align"></span>
			</a>
		</li>
	</ul>

</Layout>

<style lang="scss">
:global(body) {
	@apply p-4;
}

p {
	@apply mb-4;
}

.lang-list {
	@apply flex items-center mb-4 gap-2;

	.icon {
		@apply text-2xl;
	}

	a {
		@apply opacity-50;

		&:hover {
			@apply opacity-75;
		}

		&:active, &.active {
			@apply opacity-100;
		}
	}
}
</style>
