---
import Layout from '~/layouts/Layout.astro'

import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)
---

<Layout>

	<p>
		<span class="icon icon-[mdi--hand-wave] icon-align icon-fw"></span>
		{_({
			en: 'Welcome!',
			fr: 'Bienvenue !',
		})}
	</p>

</Layout>

<style lang="scss">
p {
	@apply m-4;
}
</style>
